*.c
*.la
*.o
*.stamp
maleo
.deps
.dirstamp
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h*
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
po/
src/.deps/
src/Makefile
src/Makefileakefile.in
stamp-h1
INSTALL*
*.swp

